body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
$marginTop: 5;
$value: 0;

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.abs {
    position: absolute;
}

.page {
    position: relative;
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    &.first-page {
        background: url("../img/BackgroundFirst.jpg") no-repeat center center;
        background-size: cover;
        z-index: 1;
    }

    & .transparent-background {
        position: absolute;
        width: 210mm;
        min-height: 297mm;
        top: 0;
        left: 0;
        opacity: 1.0;
        z-index: -1;
    }

    & .logo-full {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 205px;
        height: 100px;
        z-index: 10;
    }

    & .logo-right {
        position: relative;
        width: 160px;
        height: 75px;
        z-index: 10;
        top: -20px;
        right: -20px;
        float: right;
    }

    & .header-first {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 15em;
        font-size: 28px;
        text-align: center;
        font-family: Georgia Pro Cond, serif;
        margin-top: 45px;
    }

    & .header-last {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 8em;
        font-size: 38px;
        text-align: center;
        font-family: Marianna, serif;
        margin-top: 0px;
        color: #d0951c;
    }

    &.background {
        background: url("../img/BackgroundPage.jpg") no-repeat center center;
        background-size: cover;
        z-index: 1;
    }

    & .circle {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: #D7B88C;
        border-radius: 50%;
        top: 30px;
        z-index: 2;
    }

    & .circle-title {
        position: relative;
        width: 500px;
        margin-left: 60px;

        & .circle-no-center {
            position: relative;
            background: #D7B88C;
            border-radius: 50%;
            z-index: 2;
            height: 20px;
            top: 30px;
            width: 20px;
        }

        & span {
            position: relative;
            top: 7px;
            margin-left: 40px;
            font-weight: bold;
            font-size: 20px;
        }
    }

    & .photo {
        position: relative;
        width: 350px;
        height: 350px;
        overflow: hidden;
        border-radius: 50%;
        margin: -250px auto 0;
        z-index: 10;
    }

    & .personPhoto {
        width: auto;
        height: 100%;
        margin: 0 auto;
        z-index: 3;
    }

    & .name {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        font-family: Georgia Pro Cond, sans-serif;
        font-size: 36px;
        width: 400px;
        text-align: center;
        font-weight: 500;
    }

    & .age {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: Yu Gothic UI, sans-serif;
        font-size: 22px;
        width: 400px;
        text-align: center;
    }

    & .hello {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 8em;
        font-size: 65px;
        text-align: center;
        font-family: Marianna, serif;
        margin-top: 40px;
        color: #d0951c;
    }

    & .center {
        display: block;
        position: relative;
        margin-left: auto;
        margin-top: auto;
        width: 460px;

        & .info-table {
            position: relative;

            & td {
                width: 200px;
                text-align: left;
                font-size: 20px;
                vertical-align: baseline;

                &.left {
                    padding-top: 15px;
                    text-align: left;
                    font-family: Yu Gothic UI, sans-serif;
                    font-weight: bold;
                }

                &.right {
                    width: 50%;
                    font-family: Yu Gothic UI, fantasy;
                    overflow-wrap: normal;
                    word-wrap: break-word;
                    word-break: normal;
                    line-break: auto;
                    hyphens: manual;
                    padding-top: 15px;
                    padding-left: 30px;
                }
            }
        }
    }

    & .img-rectangle {
        border-radius: 15px;
        position: relative;
        width: 630px;
        height: 350px;
    }

    & .photo-square-list {
        position: relative;
        & .img-square {
            border-radius: 15px;
            position: relative;
            object-fit:cover;
            width: 300px;
            height: 300px;
        }
    }

    & .answers {
        position: relative;
        margin-left: 100px;
        margin-top: 25px;

        & .question {
            margin-top: 20px;
            font-family: Yu Gothic UI, sans-serif;
            font-size: 20px;
            font-weight: bold;
        }
        & .answer {
            font-family: Yu Gothic UI, sans-serif;
            font-size: 16px;
            margin-top: 5px;
        }
    }
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
@for $i from 1 through 100 {
    .m-t-#{$i} {
        margin-top: #{$i}px;
    }
}

@for $i from 1 through 100 {
    .m-l-#{$i} {
        margin-left: #{$i}px;
    }
}
